.box {
    background-color: rgba(0, 0, 0, .8);
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, .6);
}

.path {
    color: greenyellow;
}

.cursor {
    color: aqua;
}

.branch {
    color: gray;
}