body {
    background-image: url(/assets/img/fake-bg.png);
}

.box {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

@media only screen and (max-width: 760px) {
    .box {
        background-color: rgba(0, 0, 0, .7);
    }
}


.container {
    background-color: rgba(0, 0, 0, .6);
}

.path {
    color: greenyellow;
}

.cursor {
    color: aqua;
}

.branch {
    color: gray;
}