@font-face {
    font-family: 'Open Sans';
    src:
        local('Open Sans'), local('OpenSans'),
        url('/font/opensans/opensans-regular.woff2') format('woff2'),
        url('/font/opensans/opensans-regular.woff') format('woff'),
        url('/font/opensans/opensans-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
