.flex {
    display: flex;
    flex-direction: column;
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.box {
    max-width: 600px;
    height: 600px;
    padding: 40px 40px 0px 40px;
    font-size: 1.2em;
    justify-content: space-around;
}
@media only screen and (max-width: 760px) {
    .box {
        height: 100vh;
     }
}

.terminal,
.path {
    margin-bottom: 10px;
    white-space: nowrap;
}

.block {
    animation-name: blink;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
}

.file {
    justify-content: space-between;
}

.skills {
    line-height: 40px;
}

.social-media {
    text-align: center;
}