/*

                                                      \__|
 $$$$$$\   $$$$$$\  $$$$$$\$$$$\   $$$$$$\ $$\    $$\ $$\ $$$$$$$\   $$$$$$\
$$  __$$\ $$  __$$\ $$  _$$  _$$\ $$  __$$\\$$\  $$  |$$ |$$  __$$\ $$  __$$\
$$ |  \__|$$$$$$$$ |$$ / $$ / $$ |$$ /  $$ |\$$\$$  / $$ |$$ |  $$ |$$ /  $$ |
$$ |      $$   ____|$$ | $$ | $$ |$$ |  $$ | \$$$  /  $$ |$$ |  $$ |$$ |  $$ |
$$ |      \$$$$$$$\ $$ | $$ | $$ |\$$$$$$  |  \$  /   $$ |$$ |  $$ |\$$$$$$$ |
\__|       \_______|\__| \__| \__| \______/    \_/    \__|\__|  \__| \____$$ |
                                                                    $$\   $$ |
                                                                    \$$$$$$  |
                                                                     \______/
  $$\     $$\       $$\                  $$$$$$\  $$\ $$\
  $$ |    $$ |      \__|                $$  __$$\ \__|$$ |
$$$$$$\   $$$$$$$\  $$\  $$$$$$$\       $$ /  \__|$$\ $$ | $$$$$$\
\_$$  _|  $$  __$$\ $$ |$$  _____|      $$$$\     $$ |$$ |$$  __$$\
  $$ |    $$ |  $$ |$$ |\$$$$$$\        $$  _|    $$ |$$ |$$$$$$$$ |
  $$ |$$\ $$ |  $$ |$$ | \____$$\       $$ |      $$ |$$ |$$   ____|
  \$$$$  |$$ |  $$ |$$ |$$$$$$$  |      $$ |      $$ |$$ |\$$$$$$$\
   \____/ \__|  \__|\__|\_______/       \__|      \__|\__| \_______|


*/

.flex {
    display: flex;
    flex-direction: column;
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.box {
    max-width: 40rem;
    height: 38rem;
    padding: 4rem;
    font-size: 1.2rem;
    justify-content: space-around;
}

.terminal,
.path {
    margin-bottom: 10px;
    white-space: nowrap;
}
